body {
    padding: 0;
    margin: 0;
    /*font-family: 'Fira Sans', sans-serif;*/
}

header {
    background: url("../img/background.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    /*background: #54adc1;*/
    width: 100%;
    height: 970px;
}

.container {
    width: 1380px;
    margin: 0 auto;
}

.logo {
    float: left;
    padding-top: 88px;
}

.menu {
    float: right;
    padding-top: 107px;
}

.text {
    padding-top: 360px;
}

.text h1 {
    font-family: 'Fira Sans', "Light";
    font-weight: normal;
    font-size: 62pt;
    margin: 0;
}

.text p {
    font-size: 25pt;
    font-family: 'Fira Sans', "Light";
}

.content {
    height: 594px;
}

.left-column {
    float: left;
    background: url("../img/left.png") no-repeat;
    width: 50%;
    height: 594px;
}

.right-column {
    height: 594px;
    width: 50%;
    float: right;
    background: #f3f1ef;
}

.txt {
    font-size: 25pt;
    width: 490px;
    padding: 115px 0 0 55px;
}

.txt p {
    text-transform: uppercase;
    color: #666666;
    font-family: 'Fira Sans', Bold;
}

.txt span {
    color: #666666;
    font-family: 'Fira Sans', "Light";
}

.big {
    background: url("../img/gallary.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 618px;
}

.right {
    float: right;
    width: 50%;
}

.left {
    float: left;
    background: #3f729b;
    width: 50%;
    height: 608px;
}

.about {
    color: #f9f9f9;
    padding: 120px 0 0 210px;
    width: 560px;
}

.about p {
    text-transform: uppercase;
    font-family: 'Fira Sans', Bold;
    font-size: 24pt;
}

.about span {
    font-family: 'Fira Sans', "Light";
    font-size: 30pt;
}

.about a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #f9f9f9;
    font-family: 'Fira Sans', Bold;
    font-size: 18pt;
}

.btn {
    margin-top: 40px;
    padding: 10px;
    border: 1px solid #f9f9f9;
    width: 260px;
    border-radius: 25px;
}

.large {
    height: 608px;
}

.column-1 {
    width: 450px;
    height: 450px;
    background: #212227;
    padding: 175px 0 0 75px;
}

.column-1 p {
    font-family: 'Fira Sans', Bold;
    color: #2ebd59;
    font-size: 18pt;
}

.column-1 span {
    color: #f9f9f9;
    font-size: 14pt;
}

.button {
    padding-top: 40px;
}

footer {
    width: 100%;
    height: 1080px;
    background: url("../img/music.png");
    background-size: cover;
}

.last {
    height: 516px;
}

.first {
    background: #2ebd59;
    width: 50%;
    height: 516px;
    float: left;
}

.second {
    background: #282b2f;
    width: 50%;
    height: 516px;
    float: right;
}

.description {
    color: #f9f9f9;
    padding: 140px 0 0 210px;
    width: 500px;
}

.description p {
    font-family: 'Fira Sans', Bold;
    font-size: 24pt;
    margin-top: 0;
}

.description span {
    font-size: 25pt;
    font-family: 'Fira Sans', "Light";
}

.description a {
    text-decoration: none;
    color: #f9f9f9;
    text-align: center;
}

.sub {
    font-size: 18pt;
    padding: 15px;
    width: 250px;
    border: 1px solid #f9f9f9;
    border-radius: 35px;
    margin-right: 0;
    font-family: 'Fira Sans', "Light";
    margin-top: 50px;
}